body {
	background: url(Circuit.jpg);
	background-size: cover;
	font-family: "Lato";
	color: white;
}
header {
    font-size: 4rem;
    background-color: rgba(0,0,0,0.3);
    margin-top: 25px;
    margin: 0 auto;
    width: 35%;
}
article {
	background-color: rgba(0,0,0,0.5);
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
strong {
	font-size: 1.25rem;
}
td {
	border: 1px solid white;
	width: 350px;
	padding-left: 5px;
}
footer {
	margin: auto;
	font-size: 0.8rem;
	line-height: 1.2rem;
	background-color: rgba(0,0,0,0.3);
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
#menu {
    font-weight: 400;
    font-size: 18px;     
}
#menu .nav-link {
    color: white;
    margin-right: 15px;
}
#menu .nav-link:hover {
    color: #FFCD00;
}
#menu .navbar-brand {
    color: #FFCD00;
    font-size: 20px;
}
.navbar.scrolled {
    background: #004240;
    transition: background 500ms;
}
#Bibliografia {
	text-decoration: underline;
}
#Semejanzas {
	text-align: center;
}
